/*Banner Area Start*/

  .wrappage > a{
    pointer-events: none!important;
    cursor: default!important; 
   }

.banner-slider{
    padding-top: 2rem;
    padding-bottom: 8rem;
  }
  
  .d-flex{
    display: flex;
  }
  .img-fluid{
    width: 100%;
  }
  .slider-single-img img{
    width: 100%;
  }
  .slider-content h2{
    font-size: 60px;
    color: #000;
    font-weight:600;
    line-height:6rem;
    margin-bottom: 2rem;
  }
  .slider-content h5{
    font-size: 24px;
    color: #403D3D;
    font-weight:600;
    line-height:4rem;
  }
  .slider-content .slide-content-p{
    font-size:18px;
    color: gray;
    padding-right: 4rem;
    line-height:3rem;
  }
  .slider-content .shop-now{
    display: inline-block;
    color:#2b2b2b;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    margin-top: 3rem;
    padding-bottom: 6px;
    transition: all 0.3s ease;
    position: relative;
  }
  .slider-content .shop-now::before{
    content: "";
      position: absolute;
      border-bottom: 2px solid #2b2b2b;
      bottom: 0;
      width: 100%;
  }
  .slider-content .shop-now:hover{
    color:#dd2a2a;
  }
  .slider-content .shop-now:hover::before{
    border-color: #dd2a2a;
  }
  .slider-content .shop-now::after{
    content: "";
    position: absolute;
    background-image: url(../img/down-arrow.svg);
    width: 15px;
    height: 15px;
    transform: rotate(-90deg);
    background-repeat: no-repeat;
    top: 20%;
    margin-left: 10px;
  }
  .slider-info{
    padding-top: 50%;
  }
  .rotate-info h1{
    color: #000;
    font-weight: 700;
    font-size: 56px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    line-height:5rem;
    transform: rotate(90deg);
    margin-bottom: 10rem;
  }
  .rotate-info p{
    font-size: 20px;
    color: #2b2b2b;
    transform: rotate(90deg);
    padding-right: 146px;
  }
  .rotate-info h3{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color:#DFDFDF;
    letter-spacing: 0.8px;
    transform: rotate(90deg) translate(-105px,-210px);
  }
  .slider-info a{
    display: inline-block;
    color:#2b2b2b;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    margin-top: 3rem;
    padding-bottom: 6px;
    transition: all 0.3s ease;
    position: relative;
  }
  .slider-info a::before{
    content: "";
      position: absolute;
      border-bottom: 2px solid #2b2b2b;
      bottom: 0;
      width: 100%;
  }
  .slider-info a:hover{
    color:#dd2a2a;
  }
  .slider-info a:hover::before{
    border-color: #dd2a2a;
  }
  .follow-btn{
    text-align: center;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
      bottom: 60px;
      left: -150px;
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 8px;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #00F5F8;
}
.slider-2-img-left img{
  height:790px;
  object-fit:contain;
  transform:scale(1.15) translateY(8px);
}
.slider-2-img-right img{
  height:790px;
  object-fit:contain;
}
.slider-2-content{
  text-align: center;
}
.slider-2-content p:first-child{

    line-height: 28px;
    letter-spacing: 0.8px;
    font-weight: 900;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.slider-2-content span.line{
  display: inline-block;
  background:#2b2b2b;
  height:3px;
  width:70px;
}
.slider-2-content h3{
  text-transform: uppercase;
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 2rem;
}
.slider-2-content p.buy-and-get{
  line-height: 28px;
  letter-spacing: 0.8px;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 3.5rem;
}
.slider-2-content button{
  width: 25rem;
  height:60px;
  border: 2px solid #000;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  background-color: transparent;
  line-height:10px;
  transition: all 0.3s ease-in-out;
}
.slider-2-content button:hover{
  background: #000;
  color: #fff;
}

.slider-3-content h3{
  text-transform: uppercase;
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 2rem;
    letter-spacing: 0.8px;
}
.slider-3-content h5{
  font-size:40px;
  font-weight: 400;
  color: #2b2b2b;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.slider-3-content p{
  max-width: 60%;
  font-size:16px;
  line-height:32px;
  letter-spacing: 0.8px;
}
.slider-3-content button{
  width: 250px;
  height:56px;
  background: #FF3734;
  color: #fff;
  font-size:22px;
  border: none;
  border-radius: 40px;
  margin-top: 40px;
}
  /*Banner Area End*/


  /*Feature Area*/
  .feature-area{
    padding-top: 2rem;
    padding-bottom: 8rem;
  }
  .feature-one{
      position: relative;
  }
  .feature-one img{
    width: 70%;
  }
  .feature-three {
    position: relative;
  }
.feature-content-one{
    position:absolute;
    top: 25%;
    left: 62%;
}
.feature-content-one h4,
.feature-content-two h4,
.feature-content-three h4{
  font-size:24px;
  color: #000;
  margin-bottom: 2rem;
  font-weight:600;
}
.feature-content-one h2,
.feature-content-two h2,
.feature-content-three h2{
  font-size:36px;
  color: #000;
  font-weight:600;
  margin-bottom: 2rem;
  line-height:4.5rem;
  padding-right: 50px;
}
.feature-content-three h2{
  padding-right: 60px;
}
.feature-content-one button,
.feature-content-two button,
.feature-content-three button,
.feature-content-four button{
  background: transparent;
  border: none;
  color: #789ED6;
  font-weight:600;
  font-size: 20px;
}
.feature-content-one button::before,
.feature-content-two button::before,
.feature-content-three button::before,
.feature-content-four button::before{
  content:"";
  display: inline-block;
  background: #789ED6;
  width: 30px;
  height:2.5px;
  margin-right: 10px;
  vertical-align: middle;
}
.feature-two{
  position: relative;
}
.feature-content-two,
.feature-content-three{
  position: absolute;
  top: 35%;
  left: 0;
  max-width: 350px;
}
.feature-two img,
.feature-three img,
.feature-four img{
  width: 70%;
  margin-left: 20%;
}
.feature-three,
.feature-four{
  padding-top: 8rem;
}



.feature-right .total-sale{
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: right;
  padding-right: 100px;
}
.feature-left .total-sale{
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 175px;
}
.feature-area .total-sale h1,
.feature-left .total-sale h1{
  font-size:40px;
  font-weight:600;
  color:#000;
  line-height:4rem;
}
.feature-area .total-sale p,
.feature-left .total-sale p{
  font-size:18px;
  font-weight:400;
  color:#000;
  line-height:2rem;
}

.feature-four{
  position: relative;
}
.feature-content-four{
  position: absolute;
  left: 35%;
  top: 40%;
}
.feature-content-four h4{
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}
.feature-content-four h2{
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #fff;
  margin-top: 0;
}
.feature-content-four p{
  font-size:18px;
  color: #fff;
  max-width: 400px;
}
.feature-content-four button{
  color: #fff;
}
.feature-content-four button::before{
  background: #fff;
}
.newsletter-bg{
  background:url(../img/newsletter.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.news-letter-content{
  padding: 120px 0px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.news-letter-content h3{
  
  font-size:40px;
  color: #000;
  font-weight:600;
  line-height:45px;
  margin-bottom: 20px;
  margin-top: 100px;
}
.news-letter-content p{
  font-size:16px;
  color: #2b2b2b;
  font-weight:400;
  line-height:32px
}
.news-letter-content button{
    background: linear-gradient(to right ,#8794F8,#6761F9);
    width: 200px;
    height:52px;
    font-size:18px;
    color: #fff;
    border: none;
    border-radius: 40px;
    transition: all 0.3s ease;
    margin-top: 25px;

} 
.news-letter-content button:hover{
    background: linear-gradient(to right,#6761F9,#8794F8);
} 
.footer-content{
  /* background: linear-gradient(to right ,#8794F8,#6761F9); */
  background: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 100px;
  position: relative;
}
.footer-logo-area h3{
  margin-top: 0;
  font-size:52px;
  color:#fff;
  font-weight: 600;
  line-height:2rem;
}
.footer-link-area h4{
  font-size:20px;
  color: #fff;
  margin-bottom: 25px;
  font-weight: 600;
  margin-top: 0;
}
.footer-link-area ul li{
  margin-bottom: 16px;
  
}
.footer-link-area ul li a{
  color: #fff;
  font-size: 17px;
  transition:all 0.4s ease-in-out;
  display: inline-block;
}
.footer-link-area ul li a:hover{
  transform: translateX(6px);
}
/* .footer-content svg{
    height: 55px;
    display: block;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.footer-content svg path{
  fill: #fff;
} */
 /*Feature Area*/




@media (min-width:320px) and (max-width:575px){
    .banner-slider{
        padding-bottom: 4rem;
    }
    .d-flex{
        display: block;
    }
    .slider-info {
        padding-top:12%;
    }
    .rotate-info h1,
    .rotate-info p{
        transform:rotate(0deg)
    }
    .rotate-info h1{
        margin-bottom: 2rem;
    }
    .rotate-info p{
        font-size:18px;
        padding-right: 0;
    }
    .rotate-info h3{
        transform: rotate(0deg) translate(0);
        display: none;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 0px;
        left: 0px;
    }

    /*Feature Content*/
    .feature-one img,
    .feature-two img,
    .feature-three img,
    .feature-four img{
      width: 100%;
    }
    .feature-content-one,
    .feature-content-two,
    .feature-content-three{
      position:static;
    }
    .feature-one img,
    .feature-two img,
    .feature-three img,
    .feature-four img{
      margin-bottom: 20px;
    }
    .feature-content-one h4, .feature-content-two h4, .feature-content-three h4{
      font-size:16px;
    }
    .feature-content-one h2, .feature-content-two h2, .feature-content-three h2{
      font-size:24px;
      padding-right: 0;
      line-height:2.5rem
    }
    

  .feature-two img, .feature-three img, .feature-four img{
    margin-left: 0;
  }
  .feature-three, .feature-four{
    padding-top: 4rem;
  }
    .feature-left .total-sale {
      padding-top: 80px;
      padding-bottom: 0;
      padding-left: 0;
      text-align: center;
  }
  .feature-right .total-sale {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    padding-right: 0;
  }
  .feature-content-four {
    position: absolute;
    left: 12%;
    top: 24%;
  }
  .feature-content-four h4 {
    font-size:32px;
  }
  .feature-content-four h2 {
    font-size:50px;
  }
  .feature-content-four p {
    font-size:16px;
    padding-right: 20px;
  }

  .slider-2-img-left{
    display: none;
  }
  .slider-2-img-right{
    text-align:center;
  }
  .slider-2-img-right img{
    margin-top: 15%;
    width: 80%;
    height:100%
  }
  .slider-2-content{
    padding-top: 12%;
  }
  .slider-2-content h3{
    font-size:35px;
    line-height:5rem;
  }
  .slider-2-content p:first-child{
    font-size:22px;
  }
  .slider-2-content p.buy-and-get{
    font-size:22px;
  }
  .slider-2-content button {
    width: 22rem;
    height: 56px;
    font-size: 16px;
}
.slider-3-content p{
  max-width: 100%;
  font-size:15px;
}
.slider-3-content h3{
  font-size:40px;
  line-height:5rem;
}
.slider-3-content h5 {
font-size:35px;
}
.slider-3-content button {
  width: 176px;
  height: 56px;
  margin-top: 25px;
  line-height: 10px;
}
.slider-3-img{
  text-align: center;
}
.slider-3-img img{
  width:100%;
  margin-top: 15%;
}
.slider-2-content {
  padding-top: 10%;
}
.footer-content{
  padding-top: 90px;
  padding-bottom: 60px;
}
.footer-link-area {
  margin-top: 40px;
}
.footer-link-area h4 {
  font-size:18px;
  margin-bottom: 20px;
}
.news-letter-content{
  width:92%;
}
    /*Feature Content*/
}
@media (min-width:576px) and (max-width:767px){

    .d-flex{
        display: block;
    }
    .slider-info {
        padding-top:12%;
    }
    .rotate-info h1,
    .rotate-info p{
        transform:rotate(0deg)
    }
    .rotate-info h1{
        margin-bottom: 2rem;
    }
    .rotate-info p{
        font-size:18px;
        padding-right: 0;
    }
    .rotate-info h3{
        transform: rotate(0deg) translate(0);
        display: none;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 0px;
        left: 0px;
    }
    /*Feature Content*/
    .feature-one img,
    .feature-two img,
    .feature-three img,
    .feature-four img{
      width: 100%;
    }
    .feature-content-one,
    .feature-content-two,
    .feature-content-three{
      position:static;
    }
    .feature-one img,
    .feature-two img,
    .feature-three img,
    .feature-four img{
      margin-bottom: 20px;
    }
    .feature-content-one h4, .feature-content-two h4, .feature-content-three h4{
      font-size:16px;
    }
    .feature-content-one h2, .feature-content-two h2, .feature-content-three h2{
      font-size:24px;
      padding-right: 0;
      line-height:2.5rem
    }
    

  .feature-two img, .feature-three img, .feature-four img{
    margin-left: 0;
  }
  .feature-three, .feature-four{
    padding-top: 4rem;
  }
    .feature-left .total-sale {
      padding-top: 80px;
      padding-bottom: 0;
      padding-left: 0;
      text-align: center;
  }
  .feature-right .total-sale {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    padding-right: 0;
  }
  .feature-content-four {
    position: absolute;
    left: 12%;
    top: 40%;
  }
  .feature-content-four h4 {
    font-size:36px;
  }
  .feature-content-four h2 {
    font-size:55px;
  }
  .feature-content-four p {
    font-size:16px;
    padding-right: 20px;
    line-height:2.8rem
  }
    /*Feature Content*/

    .slider-2-img-left{
      display: none;
    }
    .slider-2-img-right{
      text-align:center;
    }
    .slider-2-img-right img{
      margin-top: 15%;
      width: 60%;
      height:100%
    }
    .slider-2-content{
      padding-top: 12%;
    }
    .slider-2-content h3{
      font-size:40px;
      line-height:5rem;
    }
    .slider-2-content p:first-child{
      font-size:25px;
    }
    .slider-2-content p.buy-and-get{
      font-size:25px;
    }
    .slider-2-content button {
      width: 22rem;
      height: 56px;
      font-size: 16px;
  }
  .slider-3-content p{
    max-width: 85%;
    font-size:15px;
  }
  .slider-3-content h3{
    font-size:40px;
    line-height:5rem;
  }
  .slider-3-content h5 {
  font-size:35px;
  }
  .slider-3-content button {
    width: 180px;
    height: 56px;
    margin-top: 25px;
    line-height: 10px;
  }
  .slider-3-img{
    text-align: center;
  }
  .slider-3-img img{
    width:100%;
    margin-top: 15%;
  }
  .slider-3-content {
    padding-top: 7%;
}
.footer-content{
  padding: 60px 0;
}
.footer-link-area {
  margin-top: 40px;
}
.footer-link-area h4 {
  font-size:18px;
  margin-bottom: 20px;
}
.news-letter-content{
  width:80%;
}
  
}
@media (min-width:768px) and (max-width:991px){

    .d-flex{
        display: block;
    }
    .slider-info {
        padding-top:10%;
        padding-bottom: 50px;
    }
    .rotate-info h1,
    .rotate-info p{
        transform:rotate(0deg)
    }
    .rotate-info h1{
        margin-bottom: 2rem;
    }
    .rotate-info p{
        font-size:18px;
        padding-right: 0;
    }
    .rotate-info h3{
        transform: rotate(0deg) translate(0);
        display: none;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 0px;
        left: 0px;
    }
    .zoa-collection.pad .row{
      display: flex;
  }
  .feature-content-one h4, .feature-content-two h4, .feature-content-three h4{
    font-size:22px;
  }
  .feature-content-one h2, .feature-content-two h2, .feature-content-three h2{
    font-size:32px;
  }
  .feature-content-three h2{
    padding-right: 100px;
  }


  .slider-2-img-left{
    display: none;
  }
  .slider-2-img-right{
    text-align:center;
  }
  .slider-2-img-right img{
    margin-top: 10%;
    width: 50%;
    height:100%
  }
  .slider-2-content{
    padding-top: 8%;
  }
  .slider-2-content h3{
    font-size:45px;
    line-height:5rem;
  }
  .slider-2-content p:first-child{
    font-size:25px;
  }
  .slider-2-content p.buy-and-get{
    font-size:25px;
  }
  .slider-2-content button {
    width: 22rem;
    height: 56px;
    font-size: 16px;
}
.slider-3-content p{
  max-width: 85%;
  font-size:15px;
}
.slider-3-content h3{
  font-size:48px;
  line-height:5rem;
}
.slider-3-content h5 {
font-size:38px;
}
.slider-3-content button {
  width: 200px;
  height: 56px;
  margin-top: 25px;
  line-height: 10px;
}
.slider-3-img{
  text-align: center;
}
.slider-3-img img{
  width:100%;
  margin-top: 15%;
}
.slider-3-content {
  padding-top: 4%;
}
.footer-content .row .col-md-3{
  width: 25%;
}
.footer-content{
  padding: 75px 0;
}
.footer-link-area h4 {
  font-size:18px;
  line-height:26px;
}
.news-letter-content{
  width:80%;
}
}
@media (min-width:992px) and (max-width:1199px){

    .slider-info {
        padding-top:50%;
    }
    .rotate-info p{
        padding-right: 85px;
    }
    .rotate-info h3{
        display: none;
    }
    
    .zoa-collection.pad .row{
        display: flex;
    }

    .slider-2-content h3{
      font-size: 36px;
      line-height: 5rem;
    }
    .slider-2-content p:first-child{
      font-size:24px;
    }
    .slider-2-img-left img,
    .slider-2-img-right img{
      width: 82%;
      height:100%;
    }
    .slider-3-content h3{
      font-size:52px;
    }
    .slider-3-content p{
      max-width: 90%;
    }
    .slider-3-content button {
      width: 210px;
      height: 56px;
      margin-top: 12px;
      padding-bottom: 6px;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom:40px;
    left: 0;
  }
  .footer-content .row .col-md-3{
    width: 25%;
  }
  .footer-content{
    padding: 75px 0;
  }
}
@media (min-width:1200px) and (max-width:1399px){

    .slider-info {
        padding-top:50%;
    }
    .rotate-info p{
        padding-right: 85px;
    }
    .rotate-info h3{
        display: none;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 20px;
        left: -100px;
    }
    .feature-content-one h2, .feature-content-two h2, .feature-content-three h2 {
      font-size:32px;
      padding-right: 0;
  }
  .feature-three img{
    margin-left: 26%;
  }
  .feature-content-two h2{
    padding-right: 100px;
  }
  .feature-content-four {
    left: 30%;
    top: 35%;
  }
  .feature-content-four h4 {
    font-size: 40px;
  }
  .feature-content-four h2 {
    font-size: 60px;
  }
  .feature-content-four p {
    max-width:300px;
  }

  .banner-slider{
    padding-top: 4rem;
  }

  .slider-content .slide-content-p{
    padding-right: 0;
  }
  .slider-2-content h3{
    font-size: 40px;
    line-height: 5rem;
  }
  .slider-2-content p:first-child{
    font-size:24px;
  }
  .slider-2-img-left img,
  .slider-2-img-right img{
    width: 100%;
    height:100%;
  }
  .slider-3-content h3{
    font-size:56px;
    line-height: 6.5rem;
  }
  .slider-3-content p{
    max-width: 80%;
  }
  .slider-3-content button {
    width: 210px;
    height: 56px;
    margin-top: 12px;
    padding-bottom: 6px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom:0;
  left: 0;
}
}
@media (min-width:1400px) and (max-width:1599px){

    .slider-info {
        padding-top:50%;
    }
    .rotate-info p{
        padding-right: 100px;
    }
    .rotate-info h3{
        display: none;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 20px;
        left: -100px;
    }
    .feature-content-one h2, .feature-content-two h2{
      padding-right: 35px;
      font-size: 32px;
    }
    .feature-content-three h2{
      padding-right: 125px;
      font-size: 30px;
    }
    .feature-content-four {
      left: 30%;
  }

  .banner-slider{
    padding-top: 4rem;
  }

  .slider-content .slide-content-p{
    padding-right: 0;
  }
  .slider-2-content h3{
    font-size: 40px;
    line-height: 5rem;
  }
  .slider-2-content p:first-child{
    font-size:24px;
  }
  .slider-2-img-left img,
  .slider-2-img-right img{
    width: 100%;
    height:100%;
  }
  .slider-3-content h3{
    font-size:56px;
    line-height: 6.5rem;
  }
  .slider-3-content p{
    max-width: 80%;
  }
  .slider-3-content button {
    width: 210px;
    height: 56px;
    padding-bottom: 6px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom:0;
  left: 0;
}
    
}